* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: whitesmoke;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main {
    padding: 15px;
}

header .logo-atas {
    float: left;
    position: relative;
    z-index: 10;
}

.logo-atas img {
    width: 40%;
}

.header-atas ul {
    list-style: none;
    position: absolute;
    right: 50px;
}

.header-atas .menu-header a {
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-atas .menu-header a:hover {
    background-color: white;
    color: black;
}

.header-atas li {
    display: inline-block;
    padding: 10px;
}

.header-atas {
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    background-color: rgb(52, 52, 52);
    text-align: center;
    color: white;
}

.banner-container {
    width: 100%;
    margin-top: -20px;
    background-position: center;
    text-align: center;
    background-size: cover;
}

.banner-container img {
    width: 100%;
}

.tentangkami-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

.tentangkami-container h1{
    font-family: sans-serif;
    font-size: 50px;
}

.tentangkami-container p{
    font-family: sans-serif;
    font-size: 24px;
}

.marketplace {
    position: relative;
}

.marketplace ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.marketplace i {
    color: white;
    padding: 15px;
}

.marketplace li {
    display: inline-block;
    padding: 15px;
}

.marketplace h3 {
    font-size: 12px;
    color: aliceblue;
    text-align: center;
}

.sosmed ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.sosmed i {
    color: white;
    padding: 15px;
}

.sosmed li {
    display: inline-block;
}

.sosmed h3 {
    font-size: 12px;
    color: aliceblue;
    text-align: center;
}

.menu-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

.menu-container .makanan {
    margin-bottom: 30px;
}

.menu-container .minuman {
    margin-bottom: 30px;
}

.menu-container th {
    padding-left: 45%;
    font-size: 20px;
    text-align: center;
}

.lokasi-container {
    margin: auto;
    width: 50%;
    padding: 100px;
}

.lokasi-container i {
    padding: 15px;
    padding-left: 0;
}

.lokasi-container h1 {
    font-size: 50px;
}

.lokasi-container a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.footer-bawah {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(52, 52, 52);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.footer-bawah .sosmed,
.footer-bawah .marketplace {
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}

.footer-bawah .sosmed {
    width: 15%;
}

.footer-bawah .marketplace {
    width: 30%;
}

.copyright {
    text-align: right;
    padding-right: 2%;
    font-size: 12px;
}

.copyright a{
    text-decoration: none;
    color: aliceblue;
}

.copyright i {
    padding: 15px 15px 15px;
}