body {
    margin: 15px;
    background-color: whitesmoke;
}

.header-atas ul {
    list-style: none;
    position: absolute;
    right: 50px;
}

.header-atas a {
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-atas a:hover {
    background-color: white;
    color: black;
}

.header-atas li {
    display: inline;
    padding: 10px;
}

.header-atas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(52, 52, 52);
    border-bottom: 1px solid white;
}

.footer-bawah {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(52, 52, 52);
    border-top: 1px solid white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.marketplace h1 {
    font-size: 12px;
    color: aliceblue;
}

.sosmed h1 {
    font-size: 12px;
    color: aliceblue;
}

.menu {
    margin: auto;
    width: 50%;
    padding: 100px;
}

.menu .makanan {
    margin-bottom: 30px;
}

.menu .minuman {
    margin-bottom: 30px;
}

.menu th {
    position: relative;
    left: 40%;
    font-size: 20px;
}
